@charset "UTF-8";
body {
  background-color: gray;
}

#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
}

header {
  padding: 40px;
  height: 80px;
}

nav {
  padding: 8px 40px;
  background-color: rgb(179, 255, 0);
  color: rgb(0, 0, 0);
  transition-property: background-color;
  transition-duration: 1s;
}

nav:hover {
  background-color: rgb(255, 0, 255);
}

main{
  padding: 40px;
  height : 400px;
}

footer {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
}

.expansion {
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.expansion img {
  width: 100%;
  transition-duration: 5s;
}

.expansion img:hover {
  transform: scale(150);
}